.highlight pre code { 
	display: block; 
	white-space: pre; 
	overflow-x: auto; 
	word-wrap: normal; 
	font-family: courier;
	color: #ECEFF1;
	background: #37474F;
	padding: 10px;
}

.tt {
	font-family: courier;
}